body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #F0EBDA; /* Light background for the page */
}

header {
   background-color: var(--token-130b59bc-0aea-474d-b652-fbad3f7da895);
    padding: 50px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-img {
    width: 65%;
    height: auto;
    position: absolute; /* Position the image absolutely within the header */
    top: 0;
    left: 0;
    z-index: -1; /* Place the image behind the content */
}
.header-content {
    position: relative; /* Ensure the text is positioned relative to the header */
    z-index: 1; /* Higher z-index to make sure the text appears above the image */
    text-align: center; /* Center the text */
    color: white; /* Ensure text is visible, assuming a darker image */
}
header h1 {
    font-family: 'Limelight', cursive;
    font-size: 48px;
    margin: 0;
}

header p {
    font-size: 18px;
    margin: 0;
    padding: 0 20px; /* Padding for text alignment, adjust as needed */
}

.navbar {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%); /* Center the navbar horizontally */
    display: flex;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    color: #445C74; /* White text color for links */
    font-weight: bold;
}

main {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 80%;
    margin: 20px auto;
}

.project {
    background-color: #F0EBDA;
    margin: 20px 0;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project img {
    width: 45%; /* Full width of container */
    padding: 20px 0;
    height: auto;
    border-radius: 8px;
    align-items: left;
}

.project-info {
    text-align: left;
    color: white;
}

footer {
    background-color: #4E6985;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer p {
    margin: 0;
}
